<div class="clr-row">
  <div class="clr-col-lg-8 clr-col-12">
    <div class="card">
      <div class="card-block">
        <h2>I'M</h2>
        <h1>ATEEQ MIRZA</h1>
        <h3>Software Engineer</h3>
      </div>
      <div class="card-footer">
        <span>Get in touch  </span>
        <a title="linkedin" (click)="onNavigate('https://www.linkedin.com/in/mirzaateeq/')" class="fa fa-linkedin"></a>
        <a title="github" (click)="onNavigate('https://github.com/mirzaateeq')" class="fa fa-git"></a>
      </div>
    </div>
  </div>
</div>
