<h2 cds-text="heading" class="page-header header-display">App Resources</h2>
<div class="clr-row">
<div class="clr-col-lg-5 clr-col-12">
    <a class="card clickable">
      <div class="card-block card-display">
        <h1 cds-text="heading" class="page-header">FrontEnd</h1>
        <p class="card-text">
          <span><b> Angular11, TypeScript, Javascript, Clarity</b></span>
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-5 clr-col-12">
    <a class="card clickable">
      <div class="card-block card-display">
        <h1 cds-text="heading" class="page-header">BackEnd</h1>
        <p class="card-text">
          <span><b> RESTful API using .NetCore</b></span>
        </p>
      </div>
    </a>
  </div>
</div>
<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-12">
        <a class="card clickable">
          <div class="card-block card-display">
            <h1 cds-text="heading" class="page-header">Cloud</h1>
            <p class="card-text">
              <span><b> 
                  Firebase (For App) <br/>
                  Microsoft Azure (For RESTful API)
              </b></span>
            </p>
          </div>
        </a>
      </div>
</div>