<div class="clr-row">
  <div class="clr-col-lg-5 clr-col-12">
    <a routerLink="/users" class="card clickable">
      <div class="card-block card-display">
        <h1 cds-text="heading" class="page-header">{{usersList.length}}</h1>
        <p class="card-text">
          <span><b> Total Users </b></span>
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-5 clr-col-12">
    <a routerLink="/users" class="card clickable">
      <div class="card-block card-display">
        <h1 cds-text="heading" class="page-header">{{activeUsers.length}}</h1>
        <p class="card-text">
          <span><b> Active Users </b></span>
        </p>
      </div>
    </a>
  </div>

</div>
<div class="clr-row">
  <div class="clr-col-lg-5 clr-col-12">
    <a routerLink="/users" class="card clickable">
      <div class="card-block card-display">
        <h1 cds-text="heading" class="page-header">{{roles.length}}</h1>
        <p class="card-text">
          <span><b> Unique Roles </b></span>
        </p>
      </div>
    </a>
  </div>
  <div class="clr-col-lg-5 clr-col-12">
    <a routerLink="/add-user" class="card clickable">
      <div class="card-block card-display">
        <h1 cds-text="heading" class="page-header"> Add New User </h1>
        <p class="card-text">
          <span>_______________________</span>
        </p>
      </div>
    </a>
  </div>
</div>
