<h2 cds-text="heading" class="page-header header-display">User Location</h2>

<span class="label label-info">{{userLocations.length}} User Locations</span>
<table class="table">
    <thead>
        <tr>
        <th>User Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Coordinates</th>
        <th>CurrentLocation</th>
    </tr>
    </thead>
    <tbody>
        <tr class="tr-pointer" *ngFor="let userLoc of userLocations" (click)="showLocationHistory(userLoc.userId)">
            <td class="td-display">
                {{userLoc.userId}}
            </td>
            <td class="td-display">
                {{userLoc.currentLocation.latitude}}
            </td>
            <td class="td-display">
                {{ userLoc.currentLocation.longitude}}
            </td>
            <td class="td-display">
                {{ userLoc.currentLocation.coordinates}}
            </td>
            <td class="td-display">
                {{ userLoc.currentLocation.isCurrent ? 'Yes' : 'No'}}
            </td>
        </tr>
    </tbody>
</table>