<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a routerLink="/users">
        <!-- <cds-icon shape="vm-bug"></cds-icon> -->
        <span class="title">User Manager</span>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Manage Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user-location" routerLinkActive="active">User Location</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <label for="tabexample2">Dashboard</label>
          </a>
        </section>
        <section class="nav-group">
          <label for="tabexample2">Manage Users</label>
          <ul class="nav-list">
            <li><a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a></li>
            <li><a class="nav-link" routerLink="/add-user" routerLinkActive="active">Add User</a></li>
          </ul>
        </section>
        <section class="nav-group">
          <label for="tabexample2">Location</label>
          <ul class="nav-list">
            <li><a class="nav-link" routerLink="/user-location" routerLinkActive="active">User Location</a></li>
            <li><a class="nav-link" routerLink="/location-history" routerLinkActive="active">Location History</a></li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</div>