<div class="inline-display">
  <h2 cds-text="heading" title="{{pageTitle}}" class="page-header header-display">{{pageTitle}}</h2>
  <div class="inline-display" [formGroup]="searchForm">
    <input clrInput type="text" placeholder="Search User Name or Role" formControlName="keyword" class="search-input" />
    <button class="btn btn-sm btn-link" (click)="searchReset()">Reset</button>
  </div>
</div>
<clr-alert clrAlertType="success" [(clrAlertClosed)]="alertClosed">User Deleted</clr-alert>
<div>
  <clr-spinner [clrMedium]="true" *ngIf="loadingUsers">Loading users</clr-spinner>
  <div>
    <clr-datagrid>
      <clr-dg-column>User Name</clr-dg-column>
      <clr-dg-column>Role</clr-dg-column>
      <clr-dg-column>Active</clr-dg-column>
      <clr-dg-column></clr-dg-column>

      <clr-dg-row *clrDgItems="let user of usersList">
        <clr-dg-cell>{{user.userName}}</clr-dg-cell>
        <clr-dg-cell>{{user.role}}</clr-dg-cell>
        <clr-dg-cell>{{ user.isActive ? 'Yes' : 'No'}}</clr-dg-cell>
        <clr-dg-cell>
          <button (click)="onEdit(user.userId)" class="btn btn-outline btn-sm">Edit</button>
          <button (click)="onDelete(user.userId)" class="btn btn-warning-outline btn-sm">Delete</button>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="5">
          <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">Users per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} users
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
